/* body */

body {
    min-height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1;
}

a {
    font-style: none;
}

/* header */

.header-picture {
    padding-top: 0;
    padding-bottom: 0;
}

.nav-item {
    font-size: 32px;
}

#notification-link {
    display: flex;
}

/* post cards */

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post {
    display: flex;
    flex-direction: row;
}

.info {
    color: grey;
    font-size: small;
}

.vote {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-right: 20px;
}

.vote button {
    border: none;
    background-color: transparent;
    color: black;
    font-size: 62px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.post-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.three-dot-button {
    border-style: none;
    background-color: white;
}

/* post editor */

.form-container {
    display: flex;
    justify-content: center;
}

.post-form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

/* post */

.comment-form {
    display: flex;
    flex-direction: column;
}

.edit-comment {
    display: flex;
    flex-direction: row-reverse;
}

/* profile */

.profile {
    display: flex;
    align-items: flex-start;
    padding-left: 20px;
    flex-direction: column;
}

.avatar {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    object-fit: cover;
}

.name_about {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.avatar_info {
    display: flex;
    align-items: center;
}

/* forms */

.form-item {
    padding: 20px 0px;
}

.form-input {
    width: 100%;
    border-bottom: solid #bdbbbb 2px;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    transition: 0.2s;
}

.form-input:focus {
    width: 100%;
    border-bottom: solid black 2px;
    outline: none;
}

.form-input:focus::placeholder {
    color: transparent;
}

#custom-button {
    border: none;
    background-color: transparent;
    transition: 0.2s;
    font-size: 32px;
}

#custom-button {
    border: none;
    background-color: transparent;
}

#custom-button:hover {
    color: #0085A1;
}

#setdefault {
    border: none;
    background-color: transparent;
    position: absolute;
}

#setdefault:hover {
    color: #0085A1;
}

/* footer */

footer {
    display: flex;
}


@media screen and (max-width: 642px){

    .profile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .avatar_info {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
}

/* about */

/* notifications */

.notification {
    padding-top: 10px;
    padding-left: 10px;
    margin-bottom: 15px;
}

.notification input {
    font-family: 'open sans';
    font-weight: 800;
    font-size: 18px;
}

#upload-date {
    font-size: 18px;
    color: gray;
}

.notification p {
    margin: 0;
}

.new-notification {
    width: 10px;
    height: 10px;
    background-color: #0085A1;
    border-radius: 100px;
}