/* post cards */

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post {
    display: flex;
    flex-direction: row;
    width: 50%;
}

p {
    margin: auto;
}

.info {
    color: grey;
    font-size: small;
}

.vote {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

.vote button {
    border: none;
    background-color: transparent;
    color: black;
    font-size: 62px;
}

.content {
    display: flex;
    flex-direction: column;
}

.three-dot-button {
    border-style: none;
    background-color: white;
}

/* post editor */

.form-container {
    display: flex;
    justify-content: center;
}

.post-form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

/* post */

.comment-form {
    display: flex;
    flex-direction: column;
}