/* post cards */

.cards {
    display: flex;
    flex-direction: column;
}

.post-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.post {
    display: flex;
    border: 1px;
    border-style: solid;
    border-color: grey;
    border-radius: 5px;
    width: 50%;
}

p {
    margin: auto;
}

.info {
    color: grey;
    font-size: small;
}

.vote {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: column;
}

.three-dot-button {
    border-style: none;
    background-color: white;
}

/* post editor */

.form-container {
    display: flex;
    justify-content: center;
}

.post-form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

/* post */

.comment-form {
    display: flex;
    flex-direction: column;
    width: 30%;
}