{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/98cbf5f74a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="static/css/style.css">
    <title>Sweetkeebz Forum</title>
</head>
<body>
    <header>
        <h1><a href="{% url 'home' %}">Sweetkeebz Forum</a></h1>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Login</a></li>
                <li class="create-post"><a href="{% url 'add' %}">Create Post</a></li>
            </ul>
        </nav>
    </header>
    <div>
        {% block content %}
        <!--posts go here-->
        {% endblock %}
    </div>
    <footer>
        <ul>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
        </ul>
    </footer>
</body>

</html>