{% extends "base.html" %}

{% block content %}
    {% for post in post_list %}
        <div class="post">
            <a href="{% url 'full_post' post.slug %}">
                <h3 class="post-title">{{ post.title }}</h3>
                <p>Posted by: {{ post.author }} on {{ post.created_on }}</p>
                <ul>
                    <li><a href="{% url 'edit' post.slug %}">Edit</a></li>
                    <li><a href="{% url 'delete' post.slug %}">Delete</a></li>
                </ul>
                <p>{{ post.content }}</p>
                <a href="{% url 'upvote' post.slug %}"><i class="fa-light fa-caret-up"></i></a>
                <!--<span>{{ post.vote_result }}</span>-->
                <a href="{% url 'downvote' post.slug %}"><i class="fa-light fa-caret-down"></i></a>
                <a href="{% url 'full_post' post.slug %}">Comment</a>
                <!--
                <i class="fa-solid fa-caret-up"></i>
                <i class="fa-solid fa-caret-down"></i>
                -->
            </a>
        </div>
        <hr>
    {% endfor %}
{% endblock %}
