{% extends "base.html" %}

{% block content %}
<div class="form-container">
    <form action="add" method="POST" enctype="multipart/form-data" class="post-form">
        {% csrf_token %}
        <div class="form-item">
            {{ form.title }}
        </div>
        <div class="form-item">
            {{ form.content }}
        </div>
        <div class="form-item">
            <div id="image.preview" onchange="getImagePreview(event)">
                {{ form.image }}
            </div>
        </div>
        <div class="form-item">
            <div id="preview">

            </div>
        </div>
        <input type="submit" value="Post" class="btn btn-primary" id="post-button"></input>
    </form>
</div>

<script type="text/javascript">
    function getImagePreview(event) {
       var image=URL.createObjectURL(event.target.files[0]);
       var imagediv=document.getElementById('preview');
       var newimg=document.createElement('img');
       newimg.src=image;
       imagediv.appendChild(newimg);
    }

    $('textarea').keyup(function (e) {
        var rows=$(this).val().split("\n");
        $(this).prop('rows', rows.length);
    })
</script>

{% endblock %}