{% extends "base.html" %}

{% block content %}

<!--so this is the actual post-->
<h2>{{ post.title }}</h2>
<p>Posted by: {{ post.author }} on {{ post.created_on }}</p>
<p>{{ post.content }}</p>
<hr>
<form action="post">
    <input type="text" placeholder="Write your comment here">
</form>
<input type="submit" value="Comment">
<hr>
<!--here are the comments-->
{% for comment in comments %}
    <p>{{ comment.author }}</p>
    <p>{{ comment.comment }}</p>
    <p>{{ comment.created_on }}</p>
{% endfor %}

{% endblock %}