{% extends "base.html" %}

{% block content %}

<div class="form-container">
    <form method="POST" class="post-form">
        <p style="color: red;">{{ error_msg }}</p>
        {% csrf_token %}
        <div class="form-item">
            {{ form.title }}
        </div>
        <div class="form-item">
            {{ form.content }}
        </div>
        <div class="form-item">
            <div id="image.preview" onchange="getImagePreview(event)">
                <button type="button" id="custom-button"><i class="fa-sharp fa-regular fa-image"></i></button>
                {{ form.image }}
            </div>
        </div>
        <div id="preview">
            {% if post.image != 'placeholder' %}
            <img src="{{ post.image.url }}" style="max-width: 100%;" alt="No image attatched" id="currentImagePreview">
            {% endif %}
        </div>
        <input type="submit" value="Save" class="btn btn-primary"></input>
    </form>
</div>

<script type="text/javascript">

    var realFileBtn = document.getElementById("realfilebutton");
    var customFileBtn = document.getElementById('custom-button');

    customFileBtn.addEventListener("click", function() {
        realFileBtn.click();
    });

    function getImagePreview(event) {
        var currentImage=document.getElementById('currentImagePreview')
        var image=URL.createObjectURL(event.target.files[0]);
        var imagediv=document.getElementById('preview');

        if (document.body.contains(currentImage)) {
            imagediv.removeChild(currentImage)
        };
        var newimg=document.createElement('img');
        newimg.src=image;
        newimg.class='avatar';
        newimg.id='currentImagePreview';
        imagediv.appendChild(newimg);
    }
</script>

{% endblock %}